/* Main Home */

.information__text {
 font-size: 2rem;
 padding: 0;
 margin-top: 30px;
}

.btn {
 margin-bottom: 40px;
}

.information {
 height: 329px;
 margin-top: 130px;
}

/* Main Projects */

nav.navigation {
 display: flex;
 flex-direction: column;
 padding: 0;
}

nav .perfil__item {
 margin: 0;
}

.last-project__inf {
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: 3fr;
 text-align: center;
 padding: 0 10px 40px;
}

.last-project__title {
 margin-bottom: 15px;
}

.last-project__img {
 grid-row: 2;
}

.img {
 width: 100%;
 border-radius: 10px;
}

.last-project__descrip {
 grid-column: 1;
 grid-row: 3;
}

.project {
 height: 450px;
}

.project__txt {
 margin-bottom: 10px;
}

.navigation-blogs {
 position: relative;
 padding: 0;
}

.perfil-mobil {
 position: absolute;
 top: calc(50% - 60px);
 left: calc(50% - 60px);
}

/* Main Perfil */

.perfils {
 padding: 20px 10px;
}

.my-perfil {
 padding: 0 20px;
}

.img-perfil {
 width: 200px;
 margin: 0;
}

.projects__container {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(100%, 400px));
 justify-content: center;
 padding: 0 10px 40px;
 margin: 0 auto;
 gap: 25px;
}
